{% extends 'kilogram/base.html' %}
{% block content %}

{% if user.is_active %}
<h2> Welcome, {{user.username}} </h2>
<a href="{% url 'logout' %}">로그아웃</a>

{% else %}
{% if form.errors %}
<p>ID나 비밀번호가 일치하지 않습니다.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
{{ form.as_p }}
<button type="submit">로그인</button>
</form>

    <br>
    <p>Don't have an account? <a href="{% url 'signup' %}">Please sign up.</a> </p>

{% endif %}

{% endblock %}